<!doctype html>
<html lang="en">
    <head>
        <!--icon bar title-->
        <link rel="icon" href="asset/ic_local_hospital_48px.1.svg" type="image/icon type">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
        <title>PosyanQuy | Datang ke posyandu Quy</title>

    </head>
    <body>

        <!-- nav -->     
        <div class="container">
        <div class="row"></div></div>
        <nav class="navbar navbar-light bg-white fixed-top shadow p-3 mb-5 bg-white rounded" style="height: 100px;">
            <a class="navbar-brand"><img src="asset/ic_local_hospital_48px.1.svg" alt="icon"><b>PosyanQuy | Article</b></a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Imunisasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Article</a>
                  </li>
                <li class="nav-item">
                  <a class="btn btn-primary" href="#">Login</a>
                </li>
              </ul>
        </nav>
        </div>
        </div>

        <!-- Content Article -->
        <br><br><br><br>
        <div class="tab-pane fade show active d-flex justify-content-center " style="margin-top: 50px;margin: 30px;margin-bottom: 150px;">
            <ul class="nav">
              <div class="bg-white rounded" style="width: 900px;margin: 12px;">
                <img class="card-img-top" src="https://cdn.popmama.com/content-images/post/20180212/timbang-berat-badan-b199ca44d0f9f6d27f362af07b7abd53.jpg" alt="Card image cap">
                <div class="card-body flex-column d-flex">
                  <h5 class="card-title">Kegiatan Posyandu apa aja sih?</h5>
                  <p class="card-text">
                    Definisi Posyandu adalah wadah pemeliharaan kesehatan yang dilakukan dari, oleh dan untuk masyarakat yang dibimbing petugas terkait. (Departemen Kesehatan RI. 2006).
                    Posyandu adalah pusat kegiatan masyarakat dalam upaya pelayanan kesehatan dan keluarga berencana.(Effendi, Nasrul. 1998: 267)

                    <br><br>

                    Tujuan posyandu antara lain:
                    <ol>
                        <li>Menurunkan angka kematian bayi (AKB), angka kematian ibu (ibu hamil), melahirkan dan nifas.</li>
                        <li>Membudayakan NKBS</li>
                        <li>Meningkatkan peran serta masyarakat untuk mengembangkan kegiatan kesehatan dan KB serta kegiatan lainnya yang menunjang untuk tercapainya masyarakat sehat sejahtera.</li>
                        <li>Berfungsi sebagai wahana gerakan reproduksi keluarga sejahtera, gerakan ketahanan keluarga dan gerakan ekonomi keluarga sejahtera.</li>
                    </ol> 

                    <br>

                    Kegiatan posyandu antara lain:
                    <ol>
                        <li>Jenis Pelayanan Minimal Kepada Anak</li>
                        Penimbangan untuk memantau pertumbuhan anak, perhatian harus diberikan khusus terhadap anak yang selama ini 3 kali  tidak melakukan penimbangan, pertumbuhannya tidak cukup baik sesuai umurnya dan anak yang pertumbuhannya berada di bawah garis merah KMS.
                        Pemberian makanan pendamping ASI dan Vitamin A. 
                        Pemberian PMT untuk anak yang tidak cukup pertumbuhannya (kurang dari 200 gram/ bulan) dan anak yang berat badannya berada di bawah garis merah KMS.
                        Memantau atau melakukan pelayanan imunisasi dan tanda-tanda lumpuh layu.
                        Memantau kejadian ISPA dan diare, serta melakukan rujukan bila perlu.

                        <li>Pelayanan Tambahan yang Diberikan </li>
                        Pelayanan bumil dan menyusui. 
                        Program Pengembangan Anak Dini Usia (PADU) yang diintegenerasikan dengan program Bina Keluarga Balita (BKB) dan kelompok bermain lainnya.
                        Program dana sehat atau JPKM dan sejenisnya, seperti tabulin, tabunus dan sebagainya.
                        Program penyuluhan dan penyakit endemis setempat.
                        Penyediaan air bersih dan penyehatan lingkungan pemukiman.
                        Usaha Kesehatan Gigi Masyarakat Desa (UKGMD).
                        Program diversifikasi pertanian tanaman pangan.
                        Program sarana air minum dan jamban keluarga (SAMIJAGA) dan perbaikan lingkungan pemukiman.
                        pemanfaatan pekarangan.
                        Kegiatan ekonomis produktif, seperti usaha simpan pinjam dan lain-lain.
                        Dan kegiatan lainnya seperti: TPA, pengajian, taman bermain.
                    </ol>
                    <br>
                    (Bagian Kependudukan dan Biostatistik FKM USU. 2007)

                  </p>
                <a href="https://bulelengkab.go.id/bankdata/pengertian-posyandu-kegiatandefinisi-tujuan-fungsi-manfaat-dan-pelaksanaan-posyandu-33">Sumber</a>
                
                <br><br>
                <center><a href="article.html" class="btn btn-light">Kembali</a></center>

                </div>
              </div>
 
          </ul>
        </div>
                
          
        <!-- Footer -->
        <div id="page-content">
          <div class="container text-center">
            <div class="row justify-content-center">
            </div>
          </div>
        </div>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
          <div class="container text-center">
            <small>1301180154 - 1301181192 - 1301180072 - 1301180023 - 1301180211</small>
            <br>
            <small>Copyright &copy; PosyanQuy | Tubes WebPro 2020</small>
          </div>
        </footer>
    </body>
</html>