<!doctype html>
<html lang="en">
    <head>
        <!--icon bar title-->
        <link rel="icon" href="asset/ic_local_hospital_48px.1.svg" type="image/icon type">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
        <title>PosyanQuy | Datang ke posyandu Quy</title>

    </head>
    <body>

        <!-- nav -->     
        <div class="container">
        <div class="row"></div></div>
        <nav class="navbar navbar-light bg-white fixed-top shadow p-3 mb-5 bg-white rounded" style="height: 100px;">
            <a class="navbar-brand"><img src="asset/ic_local_hospital_48px.1.svg" alt="icon"><b>PosyanQuy</b></a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" href="../home.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="imunisasi.html">Imunisasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../article/article.html">Article</a>
                  </li>
                <li class="nav-item">
                  <a class="btn btn-primary" href="../login.html">Login</a>
                </li>
              </ul>
        </nav>
        </div>
        </div>

        <!-- Content informasi imunisasi -->
        <div class="container" style="margin-top: 150px;margin-bottom: 150px;">
            <h1 class="display-4 d-flex justify-content-center">Informasi Imunisasi PosyanQuy</h1>
            <p class="card-text d-flex justify-content-center">Quy! berikan imunisasi kepada anak tepat pada umur yang dianjurkan🤏</p>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Periode</th>
                        <th scope="col">Syarat umur</th>
                    </tr>
                    </thead>
                    <tbody>
        
                    <!-- loop disini -->
                    <tr>
                        <th scope="row">1</th>
                        <td>Covid 69</td>
                        <td>buat anti corona</td>
                        <td>dd-mm-yyyy</td>
                        <td>1 bulan</td>
                    </tr>
        
                    </tbody>
                    </table>
            </div>
        </div>     








          
        <!-- Footer -->
        <div id="page-content">
          <div class="container text-center">
            <div class="row justify-content-center">
            </div>
          </div>
        </div>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
          <div class="container text-center">
            <small>1301180154 - 1301181192 - 1301180072 - 1301180023 - 1301180211</small>
            <br>
            <small>Copyright &copy; PosyanQuy | Tubes WebPro 2020</small>
          </div>
        </footer>
    </body>
</html>